.unotes
.coverage
.DS_Store
.dirty-aqi-api-key
.aqi.ini
.dirty-router
.dirty
.vscode
venv
.venv
__pycache__
.ruff_cache
.pytest_cache
.mypy_cache
.coverage.*

# Calendar directory - exclude all files except calendar.romanfestivals
calendar/*
!calendar/calendar.romanfestivals

remind/*
!remind/romanfestivals-cal.rem
